Source: ros-lunar-variant-topic-tools
Section: misc
Priority: extra
Maintainer: Ralf Kaestner <ralf.kaestner@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin, ros-lunar-roscpp, ros-lunar-roslib, ros-lunar-variant-msgs
Homepage: http://github.com/ethz-asl/ros-topic-variant
Standards-Version: 3.9.2

Package: ros-lunar-variant-topic-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-roscpp, ros-lunar-roslib, ros-lunar-variant-msgs
Description: Topic tools for treating messages as variant types.
