Source: ros-melodic-variant-topic-test
Section: misc
Priority: extra
Maintainer: Ralf Kaestner <ralf.kaestner@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-geometry-msgs, ros-melodic-roscpp, ros-melodic-std-msgs, ros-melodic-variant-msgs, ros-melodic-variant-topic-tools
Homepage: http://github.com/ethz-asl/ros-topic-variant
Standards-Version: 3.9.2

Package: ros-melodic-variant-topic-test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-geometry-msgs, ros-melodic-roscpp, ros-melodic-std-msgs, ros-melodic-variant-msgs, ros-melodic-variant-topic-tools
Description: Variant topic tools testing suites.
